*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav li a{
    text-decoration: none;
    color: whitesmoke;
}

.header{
    width: 100%;
    height: 100vh;
    background: url(../images/bg-img.jpg) no-repeat center center;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
}

nav{
    width: 100%;
    display: flex;
    color: whitesmoke;
    justify-content: space-between;
}

.logo{
    width: 50%;
    height: 100px;
}

.logo h1{
    line-height: 98px;
    padding-left: 50px;
    font-family: sans-serif;
}

.menu{
    width: 40%;
    height: 100px;
}

.menu ul{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.menu ul li {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
}

section{
    display: flex;
}

.bg-img{
    width: 45%;
    height: auto;
    overflow: hidden;
}

.bg-img img{
    width: 70%;
    height: 500px;
    margin: 0 15%;
}

.bg-tagline{
    width: 55%;
    height: 300px;
    color: whitesmoke;
    text-align: left;
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 110px;
    padding-left: 10%;
}

.bg-tagline h1{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.bg-tagline p{
    font-size: 1.1rem;
    padding: 60px 0;
}

.bg-tagline button{
    font-size: 17px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(57deg, #FE0190, #5D3C8F);
    border-radius: 4px;
    padding: 20px 30px;
    cursor: pointer;
}

.bg-tagline button:hover{
    background: linear-gradient(57deg, #5D3C8F, #FE0190);
    transition: 0.5s;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5% 8%;
    border: 5px Solid #FE0190;
    position: relative;
    border-radius: 70% 30%;
}
.sec-img{
    width: 50%;
    height: auto;
    overflow: hidden;
}
.sec-img img{
    width: 100%;
}
.sec-text{
    width: 50%;
    padding: 5% 10%;
}
.sec-text h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 4rem;
    margin-bottom: 3px;
}
.sec-text p{
    font-family: sans-serif;
    font-weight: 1.1rem;
    font-weight: 700;
    color: rgb(160, 160, 160);
}

article{
    padding: 10% 10%;
    line-height: 30px;
}

.services-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}

.service-box{
    border: 1px solid #eee;
    flex-basis: 32%;
    padding: 10px;
    margin-bottom: 15px;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px grey;
    background-color: white;
}

h2{
    text-align: center;
    margin-bottom: 60px;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: lighter;
}

.service-box h3{
    margin: 5px 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.service-box p{
    margin: 0 0 10px;
    font-family: sans-serif;
}

.service-box img{
    width: 100%; 
}

.call-to-action{
    align-items: flex-start;
    margin-top: auto;
    display: inline-block;
}

.call-to-action a{
    text-decoration: none;
    background: #5D3C8F;
    border: 2px solid transparent;
    color: #fff;
    padding: 8px 13px;
    display: inline-block;
}

.call-to-action a:hover{
    color: #5D3C8F;
    background: transparent;
    border: 2px solid #5D3C8F;
}
.footer{
    width: 100%;
    display: flex;
    background-color: #000000;
    padding: 5% 5% 2%;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 0px 16px grey;
}
.footer-1{
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bolder;
}
.footer-2, .footer-3, .footer-4{
    line-height: 30px;
    color: whitesmoke;
    font-family: sans-serif;
}
.footer-5{
    display: flex;
    flex-direction: column;
}
input[type=text]{
    background-color: transparent;
    border: 2px solid whitesmoke;
    margin-bottom: 30px;
    padding: 10px;
}
input[type=text]::placeholder{
    color: whitesmoke;
    font-family: sans-serif;
    font-weight: bold;
}
input[type=submit]{
    background-color: transparent;
    border: 2px solid whitesmoke;
    margin-bottom: 30px;
    padding: 10px;
    color: whitesmoke;
    font-family: sans-serif;
    font-weight: bold;
}
#social{
    width: 100%;
    height: 50px;
    float: left;
    margin-left: 70%;
}

#twitter, #facebook, #google, #pintrest{
    display: inline-block;
    width: 15%;
    height: 100%;
}

#twitter{
    background: url(../images/icons/icon-twitter.jpg) no-repeat center center;
    background-size: contain;
}

#facebook{
    background: url(../images/icons/icon-facebook.jpg) no-repeat center center;
    background-size: contain;

}

#google{
    background: url(../images/icons/icon-googleplus.jpg) no-repeat center center;
    background-size: contain;

}

#pintrest{
    background: url(../images/icons/icon-pinterest.jpg) no-repeat center center;
    background-size: contain;
}

#twitter:hover{
    background-image: url(../images/icons/icon-twitter-hover.jpg);
}

#facebook:hover{
    background-image: url(../images/icons/icon-facebook-hover.jpg);
}

#google:hover{
    background-image: url(../images/icons/icon-googleplus-hover.jpg);
}

#pintrest:hover{
    background-image: url(../images/icons/icon-pinterest-hover.jpg);
}

@media screen and (min-width:320px) and (max-width:768px){

    nav{
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-bottom: 0;
    }
    .bg-tagline{
        padding: 50px;
        margin: 0%;
    }
    .logo,.menu{
        width: 100%;
        text-align: center;
    }
    header section{
        flex-direction: column;
    }
    .bg-tagline{
        width: 100%;
    }
    .content{
        flex-direction: column;
    }
    .sec-img{
        width: 100%;
    }
    .sec-text h1{
        font-size: 40px;
    }
    .sec-img img{
        width: 40%;
        margin-left: 30%;
    }
    .sec-text{
        text-align: justify;
        width: 90%;
    }
    .services-container{
        flex-direction: column;
        align-items: center;
    }
}